body {
	font-family:monospace;
	color: #824227;
}

.hero-unit{
	background: #F4E9A5;
}

.alert-info {
	background: #B4E0E6;
}

#classID{
	margin-top: 10px;
	margin-bottom: 20px;
}

#banner{
	margin-top: 20px;
}

#netid{
	display: none;
}


button{
}

#logout{
	display: inline-block;
	margin-left: 10px;
}

#submit{
	margin-left:-10px;
}

#spinner{
	margin-bottom: 15px;
}
